body{font-family: 'Roboto', sans-serif; color:#333; background: #fff; padding: 0; margin: 0; background-color: #999;}
.logo-panel{background: rgb(51,135,198);
background: -moz-linear-gradient(90deg, rgba(51,135,198,1) 0%, rgba(31,87,131,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(51,135,198,1) 0%, rgba(31,87,131,1) 100%);
background: linear-gradient(90deg, rgba(51,135,198,1) 0%, rgba(31,87,131,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3387c6",endColorstr="#1f5783",GradientType=1);}
.logo-panel a strong{text-shadow: 0 1px 1px rgba(0,0,0,.35);}
.fixed-top, .sb-nav-fixed #layoutSidenav #layoutSidenav_nav, .sb-nav-fixed .sb-topnav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
#layoutSidenav {display: flex;}
#layoutSidenav #layoutSidenav_nav {
  flex-basis: 225px;
  flex-shrink: 0;
  transition: transform 0.15s ease-in-out;
  z-index: 1038;
  transform: translateX(-225px);
}
#layoutSidenav #layoutSidenav_content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  flex-grow: 1;
  min-height: calc(100vh - 56px);
  margin-left: -225px;
}

.sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
  transform: translateX(0);
}
.sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1037;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
@media (min-width: 992px) {
  #layoutSidenav #layoutSidenav_nav {
    transform: translateX(0);
  }
  #layoutSidenav #layoutSidenav_content {
    margin-left: 0;
    transition: margin 0.15s ease-in-out;
  }

  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
    transform: translateX(-225px);
  }
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content {
    margin-left: -225px;
  }
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
    display: none;
  }
}
.sb-nav-fixed .sb-topnav {
  z-index: 1039;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
  width: 225px;
  height: 100vh;
  z-index: 1038;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav {
  padding-top: 56px;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu {
  overflow-y: auto;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
  padding-left: 225px;
  top: 56px;
}
.nav .nav-link .sb-nav-link-icon,
.sb-sidenav-menu .nav-link .sb-nav-link-icon {
  margin-right: 0.5rem;
}

.sb-topnav {
  padding-left: 0;
  height: 56px;
  z-index: 1039;
}
.sb-topnav .navbar-brand {
  min-width: 261px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
}
.sb-topnav.navbar-dark #sidebarToggle {
  color: rgba(255, 255, 255, 0.5);
}
.sb-topnav.navbar-light #sidebarToggle {
  color: #212529;
}

.sb-sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: nowrap;
}
.sb-sidenav .sb-sidenav-menu {
  flex-grow: 1;
}
.sb-sidenav .sb-sidenav-menu .nav {
  flex-direction: column;
  flex-wrap: nowrap;
}
.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
  padding: 1.75rem 1rem 0.75rem;
  font-size: 0.95rem;
  font-weight: bold;
  text-transform: uppercase;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
  font-size: 0.85rem;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-nav-link-icon {
  font-size: 0.9rem;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-sidenav-collapse-arrow {
  display: inline-block;
  margin-left: auto;
  transition: transform 0.15s ease;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link.collapsed .sb-sidenav-collapse-arrow {
  transform: rotate(-90deg);
}
.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested {
  margin-left: 1.5rem;
  flex-direction: column;
}
.sb-sidenav .sb-sidenav-footer {
  padding: 0.75rem;
  flex-shrink: 0;
}

.sb-sidenav-dark {
  background-color: #212529;
  color: rgba(255, 255, 255, 0.5);
}
.sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
  color: rgba(255, 255, 255, 0.25);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link {
  color: rgba(255, 255, 255, 0.5);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-nav-link-icon {
  color: rgba(255, 255, 255, 0.25);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
  color: rgba(255, 255, 255, 0.25);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link:hover {
  color: #fff;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
  color: #fff;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
  color: #fff;
}
.sb-sidenav-dark .sb-sidenav-footer {
  background-color: #343a40;
}

.sb-sidenav-light {
  background-color: #f8f9fa;
  color: #212529;
}
.sb-sidenav-light .sb-sidenav-menu .sb-sidenav-menu-heading {
  color: #333;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link {
  color: #777;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-nav-link-icon {
  color: #adb5bd;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
  color: #adb5bd;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link:hover {
  color: #65A8DC;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link:hover .sb-nav-link-icon{
  color: #65A8DC;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link.active {
  color: #65A8DC;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
  color: #65A8DC;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link.active .sb-sidenav-collapse-arrow {
  color: #65A8DC;-ms-transform: rotate(180deg); /* IE 9 */
  transform: rotate(180deg); transition: all 0.2s linear;
}
.sb-sidenav-light .sb-sidenav-footer {
  background-color: #e9ecef;
}
@font-face {
      font-family: 'humanitarian-icons-v02';
      src: url('font/humanitarian-icons-v02.eot?64690892');
      src: url('font/humanitarian-icons-v02.eot?64690892#iefix') format('embedded-opentype'),
           url('font/humanitarian-icons-v02.woff?64690892') format('woff'),
           url('font/humanitarian-icons-v02.ttf?64690892') format('truetype'),
           url('font/humanitarian-icons-v02.svg?64690892#humanitarian-icons-v02') format('svg');
      font-weight: normal;
      font-style: normal;
}
.select-panel{padding: 1rem;}
.select-panel select{border:1px solid #65A8DC; }

.link-sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 56px;
  left: 225px;
  background-color: rgba(255, 255, 255, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15px;
  white-space: nowrap;
}

.link-sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #aaa;
  display: block;
  transition: 0.3s;
}

.link-sidenav a:hover {
  color: #555;
}

.link-sidenav .closebtn {
  position: absolute;
  top: -20px;
  right: 20px;
  font-size: 30px;
  margin-left: 50px;
}
.side-panel{padding:5px 10px; border-bottom:1px solid #ccc; }
.side-panel h6{margin-bottom:0; font-size:1rem; font-family: 'Roboto', sans-serif; font-weight: 600; line-height: normal; float: left;
    margin-right: 5px;}
.side-panel h4{font-weight: 300; font-size: 1.1rem; line-height: normal; color: #B52625;}
.side-panel p{font-size: 0.85em; font-weight: 300; margin: 0;}
.ss-content {padding: 0 30px 0 0; right: -15px;}
.ss-wrapper{width:100%;}
.main-high-level-fugure{display:block; padding: 0 1rem 1rem 1rem;}
.main-high-level-fugure .panel{float:left; background-color: #D2E5F5; padding: 0.5rem; margin: 0.2rem; width: 46%; text-align: center;     border-radius: 15px 0;}
.main-high-level-fugure .panel h3{font-size:1.2rem; font-weight:400; margin-bottom: 0;} 
.main-high-level-fugure .panel p{font-size:0.8rem; font-weight:300; margin-bottom: 0;}
.brdr-btm{border-bottom: 1px solid #ddd; padding: 0 1rem; display: block; margin-left: 1rem; margin-right: 1rem;}
.cerf-link{color:#FBDE8A !important; border: 1px solid #FBDE8A; padding: 0.1rem 0.5rem; transition: all 0.2s linear; text-align: center;}
.cerf-link:hover{color:#333 !important; background-color: #FBDE8A;}
.cbpf-link{color: #F79C8F !important; border: 1px solid #F79C8F; padding: 0.1rem 0.5rem; margin-right: 10px; transition: all 0.2s linear; text-align: center;}
.cbpf-link:hover{color:#333 !important; background-color: #F79C8F;}
.un-icon{font-family: 'humanitarian-icons-v02'; font-style: normal; font-weight: normal; speak: never; display: inline-block;       text-decoration: inherit; width: 1em; margin-right: .2em; text-align: center; font-variant: normal; text-transform: none; line-height: 1em; margin-left: .2em; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
footer{position: sticky; bottom: 0;}

.map-section{display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;}
.scroll-panel{width:100%; height: 100%; /*min-width: calc(100% + 225px);*/ margin-left:225px; transition: all 0.5s ease-in-out;}

.second-nav-chart{display: flex; justify-content: center; width: 100%; min-height: calc(100% - 283px);}

@media (max-width: 575.98px) { 
	#sidebarToggle{display:block !important;}
	.cbpf-link, .cerf-link{display:none;}
	.link-sidenav{left: 0;}
}
@media (min-width: 576px) { 
	.link-sidenav{left: 225px;}
}
@media (max-width: 767.98px) { 
	#sidebarToggle{display:block !important;}
}
@media (max-width: 991.98px) {
	#sidebarToggle{display:block !important;}
	.link-sidenav{z-index: 1050; }
}

.loader  {
  animation: rotate 1.5s infinite;  
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {   
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;  
  width: 20px;
}
.loader:before {
  animation: ball1 1.5s infinite;  
  background-color: #F79C8F;
  box-shadow: 30px 0 0 #F79C8F;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1.5s infinite; 
  background-color: #FBDE8A;
  box-shadow: 30px 0 0 #91C1E6;
}

@keyframes rotate {
  0% { 
    -webkit-transform: rotate(0deg) scale(0.8); 
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% { 
    -webkit-transform: rotate(360deg) scale(1.2); 
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% { 
    -webkit-transform: rotate(720deg) scale(0.8); 
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #FBDE8A;
  }
  50% {
    box-shadow: 0 0 0 #FBDE8A;
    margin-bottom: 0;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #FBDE8A;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #F79C8F;
  }
  50% {
    box-shadow: 0 0 0 #F79C8F;
    margin-top: -20px;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #F79C8F;
    margin-top: 0;
  }
}

/*D3 chart styles*/

.pfbihpchartContainerDiv {
  width: 100%;
  height: 100%;
  background-color: white;
}

.pfbihpspinnerContainer {
  display: flex;
  width: 100%;
  height:100%;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  color: #888;
}

.pfbihpspinnerText {
  margin-bottom: 10px;
  margin-top: 30vh;
}

.pfbialcontainerDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#pfbialtooltipDivMap, #pfbialtooltipDivBarChart {    
  position: absolute;
  text-align: left;
  color: darkslategray;
  font-family: "Roboto", sans-serif;
  white-space: normal;
  padding: 8px;
  line-height: 120%;
  font-size: 14px;
  background: #f8f8f8; 
  border: 1px solid #999; 
  border-radius: 4px;
  pointer-events: none;
  cursor: none;
  z-index: 1500;
}

.pfbialmapDiv {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pfbialmapInnerDiv {
  width: 100%;
  height: 100%;
}

.pfbialbarChartDiv {
  width: 100%;
  align-items: center;
  position: relative;
}

.pfbicdcontainerDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pfbialzoomPath {
  fill: white;
}

.pfbialzoomPath:hover {
  fill: #f4f4f4;
}

.pfbialzoomText {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  fill: #222;
  pointer-events: none; 
}

.pfbialbuttonsDiv {
  position: absolute;
  top: 1.2vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}

.pfbialgroupName {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  pointer-events: none;
  fill: darkslategray;
  stroke: white;
  stroke-width: 2px;
  paint-order: stroke;
}

.pfbialmapContainer {
  pointer-events: none;
}

.pfbiallegendTitle {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  fill: #666;
}

.pfbiallegendCirclesText {
  font-family: "Arial", sans-serif;
  font-size: 10px;
  fill: darkslategray;  
}

.pfbiallegendColors text {
  font-family: "Arial", sans-serif;
  font-size: 11px;
  fill: darkslategray;  
}

.pfbialshowNamesText {
  font-family: "Arial", sans-serif;
  font-size: 11px;
  fill: darkslategray;
}

.pfbialbarTitle {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  fill: #666;
}

.pfbialbarTitleSpan {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  fill: #666;
}

.pfbialxAxisGroup line{
  stroke: darkslategray;
}

.pfbialxAxisGroup path {
  stroke: none;
}

.pfbialxAxisGroup text {
  font-family: "Roboto", sans-serif;
  font-size: 9px;
}

.pfbialyAxisGroup path {
  stroke: none;
}

.pfbialyAxisGroup text {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  fill: #aaa;
  pointer-events: none;
}
  
.pfbialyAxisGroup line{
  stroke: #ddd;
  stroke-dasharray: 2, 2;
}

.pfbialpiesNoData {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  fill: #666;
  pointer-events: none;
  text-anchor: middle;
}

.pfbialbuttonsDiv button {
  margin: 0px 0px 0px 8px;
  display: inline-flex;
  align-items: center; 
  white-space: pre;
  z-index: 1000;
  border: 1px solid #BCBEC0;
  font-size: 0.8rem;
  padding: 0 10px 0 0;
  border-radius: 3px;
  background-color: #eee;
  line-height: normal;
  transition: all 0.2s linear;
  outline: 0;
}

.pfbialbuttonsDiv button .icon-circle{
  background-color: #fff;
  padding: 5px;
  display: inline-flex;
  margin-right: 5px;
  border-radius: 3px 0 0 3px;
}

.pfbialbuttonsDiv button:hover{background-color: #3289C9; color:#fff; border-color:#3289C9;}
.pfbialbuttonsDiv button.active{background-color: #3289C9; color:#fff; border-color:#3289C9;}

.fa-adjust {
  color: transparent;
  background: linear-gradient(to right, #FBD45C 0%, #FBD45C 50%, #F37261 50%, #F37261 100%);
  border-radius: 50%;
}
